.homeContainer{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    height: 91.3vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--white-ice);

    img{
        width: 60rem;
        margin-left: 21rem;
    }
}